ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(201, 201, 201);
}

li {
  float: left;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

li a {
  display: block;
  color: rgb(56, 56, 56);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color: blueviolet;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: rgb(226, 221, 221);
}

a {
  text-decoration: none;
}

.sideBar{
  display: flex;
}